{% extends 'base.html.twig' %}

{% block title %}Liste Carte{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Voici la liste de Carte </h1>
        <div class="example-wrapper">
            {% for entity in entities %}
                {{ entity.title }}
                {# {{ entity.cost }}
                {{ entity.attack }}
                {{ entity.HP }}
                {{ entity.user_card.email }} #}
            {% endfor %}
        </div>
</div>
{% endblock %}
