
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">Magicien Inconnu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item"></li>
                    <a class="nav-link js-scroll-trigger" href="{{ path('app_logout') }}">Logout</a>
                </li>
            {% endif %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('create_card') }}">Création de carte</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('card') }}">Liste des cartes</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('create_type') }}">Création d'un type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('type') }}">Liste des types</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user') }}">Liste des utilisateurs</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('list_deck') }}">Liste des decks</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="{{ path('add_deck') }}">création de deck</a>
            </li> 
          </ul>
        </div>
      </div>
    </nav>

    <div id="pageContent"></div>

{% block javascripts %}

    <script type="text/javascript">
      $('nav a').click(function (e) {
        e.preventDefault();
        $('nav a').removeClass('active');
        $(this).addClass('active');
        $("#pageContent").load($(this).attr('href'));
    });

        $('#pageContent').on('submit', 'form', function (e) {
          e.preventDefault();
          var form = $(this);
          $.ajax({
          type: "POST",
          url: form.attr('action'),
          data: new FormData(this),
          contentType: false,
          processData: false,
          success: function success(response) {
              $("#pageContent").load($('.active').attr('href'));
          }
          });
      });
    </script>

{% endblock %}